@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;400;500;600&family=Outfit:wght@400;500;600&display=swap");
* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style-type: none;
   box-sizing: border-box;
   transition: all 0.2s ease-in;
   font-family: "Noto Sans Georgian", sans-serif;
   outline: none;
}
::selection {
   background-color: rgb(123, 0, 255);
   color: #fff;
}
#eng {
   font-family: "Outfit", sans-serif;
}
.navigation {
   width: 100%;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.firstNavigation {
   position: relative;
   width: 100%;
   padding: 30px 0px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   background: #fff !important;
   z-index: 99 !important;
}
.navigationLogo {
   width: 400px;
   height: auto;
   cursor: pointer;
}
.navContent {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 15px;
}
.toggleMenu {
   font-size: 25px;
   color: rgba(0, 0, 0, 0.7);
   display: none;
}
.navContent a {
   color: rgba(0, 0, 0, 0.3);
}
.navContent a:hover {
   color: rgba(0, 0, 0, 1);
}
.activeLanguage {
   color: rgba(0, 0, 0, 1) !important;
}
.navLine {
   height: 25px;
   width: 2px;
   background: rgba(0, 0, 0, 0.3);
}
.secondNavigation {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   z-index: 30;
}
.secondNavigation ul li {
   display: flex;
}
.secondNavigation ul li a {
   padding: 30px 35px;
   color: rgba(0, 0, 0, 0.7);
   font-weight: 500;
   border-bottom: 3px solid transparent;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.secondNavigation ul li a:hover {
   color: rgb(123, 0, 255);
   border-bottom: 3px solid rgb(123, 0, 255);
}
.header {
   position: relative;
   width: 100%;
   height: 700px;
}
.headerImage {
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../Images/MainHeader.jpg") no-repeat center center fixed;
}
.headerText {
   position: absolute;
   max-width: 750px;
   left: 100px;
   bottom: 100px;
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
   text-align: justify;
}
.mainSection {
   display: grid;
   justify-content: center;
   width: 100%;
}
.mainContainer {
   margin-top: 50px;
   padding-bottom: 50px;
   display: flex;
   width: 1000px;
}
.categoryList {
   display: flex;
   flex-direction: column;
   text-align: right;
}
.categoryList a {
   color: rgba(0, 0, 0, 0.7);
   font-weight: 500;
   padding: 25px 20px;
   border-right: 3px solid transparent;
   letter-spacing: 1px;
   cursor: pointer;
}
.categoryList a:hover {
   color: rgba(123, 0, 255);
}
.categoryList .ActiveList {
   color: rgb(123, 0, 255);
   border-right: 3px solid rgb(123, 0, 255);
}
.mainContent {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   margin-left: 70px;
}
.postBox {
   padding: 20px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   display: flex;
   align-items: center;
   width: 700px;
   height: 120px;
   column-gap: 20px;
}
.postDate {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 65px;
   height: 65px;
   background: rgb(255, 94, 0);
   border-radius: 10px;
   color: #fff;
}
.dateNumber {
   font-size: 23px;
   font-weight: 600;
}
.postTitle {
   color: rgba(0, 0, 0, 0.7);
}
.postTitle:hover {
   color: rgb(255, 94, 0);
}
@media (max-width: 1140px) {
   .secondNavigation {
      margin-top: -1000px;
      transition: all 0.4s ease-in;
   }
   .navigationActive {
      margin-top: 0px;
   }
   .secondNavigation ul li {
      flex-direction: column;
   }
   .toggleMenu {
      display: block;
   }
}
@media (max-width: 1090px) {
   .mainContainer {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
   }
   .categoryList {
      display: grid;
      grid-template-columns: repeat(3, 230px);
      align-items: center;
      justify-content: center;
      text-align: center;
   }
   .categoryList a {
      border-right: 0px solid transparent;
      border-bottom: 3px solid transparent;
   }
   .categoryList a:hover {
      color: rgba(123, 0, 255);
   }
   .categoryList .ActiveList {
      color: rgb(123, 0, 255);
      border: 0px;
      border-bottom: 3px solid rgb(123, 0, 255);
   }
}
@media (max-width: 740px) {
   .navigationLogo {
      width: 200px;
   }
}
@media (max-width: 540px) {
   .navContent {
      flex-direction: column;
      row-gap: 10px;
   }
   .navLine {
      height: 2px;
      width: 50px;
      background: rgba(0, 0, 0, 0.3);
   }
}
@media (max-width: 425px) {
   .firstNavigation {
      flex-direction: column;
      justify-content: center;
      row-gap: 50px;
   }
}
